<!-- <h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>

 -->

<%= link_to "Delete", restaurant_path(@restaurant),
      method: :delete,
      data: { confirm: "Are you sure?" } %>


<% @restaurant.reviews.each do |review| %>
<%= review.content %>
<%= review.rating %>
<% end %>

<p><%= @restaurant.name %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

